body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  font-family: '{{fontName}}', sans-serif;
  overflow: hidden;
  color: {{fontColor}};
  font-size: {{fontSize}}px;
  font-weight: {{fontWeight}};
  text-align: {{textAlign}};
  text-shadow: {{textShadow}};
  padding: {{textPadding}}px;
}

#bitrate * {
  vertical-align: middle;
}
